/*Стиль верхнего меню*/
.nav ul {
    display:none;
    background-color: rgb(50, 49, 48);
    position:absolute;
    top: 100%;

   }

  .nav li:hover ul { display: block; }
  .nav, .nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

  }

 .nav {
    height: 50px;
    background-color: black;
    padding-left: 0px;
    min-width: 400px;

     }


  .nav li {
    float: left;
    position: relative;
    height: 100%;

    }
 .nav li a {
    display: block;
       margin-right: 4px;
padding-top:5px;
margin-bottom:-4px;
    width: 176px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font: 1.0em sans-serif;
    line-height: 2.0em;
      }

     .nav ul a {
      text-align: left;
      line-height: 1.0em;
      padding: 15px;

      }

  .nav ul li { float: none; width: 190px;}
  .nav li:hover {background-color: black;}
  .nav ul li:hover { background-color: rgb(202, 54, 54);}
  .container-fluid h1{
    text-align: center;
    display: inline-block;
    font-size: 35px;
    vertical-align: middle;
    margin-left: 185px;
                  }
 .container-fluid img{
    margin-left: 170px;

      }

.footer-dark {
    padding:20px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }

  .footer-dark h3 {
    margin-top:5px;
    margin-bottom:15px;
    margin-left:0;
    font-weight:bold;
    font-size:16px;
  }

  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-left:0;
    margin-right:1px;
  }

  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }

  .footer-dark ul a:hover {
    opacity:0.8;
  }

  .footer-dark .item.text {
    margin-bottom:5px;
  }
  

  @media (min-width:767px) {
    .footer-dark .item.text {
      margin-bottom:50px;
    }
  }
  
  .footer-dark .item.text p img {
    opacity:0.6;
    margin-bottom:10;
  }

p {
  text-align: left;
  font-size: medium;
  margin-top: 10px;
  margin-bottom: 10px;
}
h1{
  text-align: center;
  
}



    
.col-sm-9 {
  padding: 45px;
}
.col-sm-3{
  padding-top: 45px;
  padding-right: 1px;
}


figure img{
  width: 100%;
}
form {
  width:100%;
  margin-right: 10px;
<<<<<<< HEAD
  margin-top: 2px;
=======
  margin-top: 25px;
>>>>>>> 38600959bf1061f042efa96f60a26dc530928470
  }
  input{
  padding:4px 10px;
  border:0;
  font-size:16px;
  }
  .search {
  width: 60%;
  border: 1px solid black;
  height: 31px;
  
  }
  .submit{
  width: 20%;
  background-color: #bc1010;
  color:white;
  font-size: 16px;
      }
      .row{
        padding: 0px;
      }
      .foot1 p{
        text-align: center;
      }