/*Стиль верхнего меню*/
.nav ul {
    display:none;
    background-color: rgb(50, 49, 49);
    position:absolute;
    top: 100%;

   }

  .nav li:hover ul { display: block; }
  .nav, .nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

  }

 .nav {
    height: 50px;
    background-color: black;
    padding-left: 0px;
    min-width: 400px;

     }


  .nav li {
    float: left;
    position: relative;
    height: 100%;

    }
 .nav li a {
    display: block;
       margin-right: 4px;
padding-top:5px;
margin-bottom:-4px;
    width: 176px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font: 1.0em sans-serif;
    line-height: 2.0em;
      }

     .nav ul a {
      text-align: left;
      line-height: 1.0em;
      padding: 15px;

      }

  .nav ul li { float: none; width: 190px;}
  .nav li:hover {background-color: black;}
  .nav ul li:hover { background-color: rgb(202, 54, 54);}
  .nazv h1{
    text-align: center;
    display: inline-block;
    font-size: 35px;
    vertical-align: middle;
    margin-left: 185px;
                  }
  .nazv img{
    margin-left: 170px;

      }

.footer-dark {
    padding:20px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }

  .footer-dark h3 {
    margin-top:5px;
    margin-bottom:15px;
    margin-left:0;
    font-weight:bold;
    font-size:16px;
  }

  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-left:0;
    margin-right:1px;
  }

  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }

  .footer-dark ul a:hover {
    opacity:0.8;
  }

  .footer-dark .item.text {
    margin-bottom:5px;
  }
  

  @media (min-width:767px) {
    .footer-dark .item.text {
      margin-bottom:50px;
    }
  }
  
  .footer-dark .item.text p img {
    opacity:0.6;
    margin-bottom:10;
  }

p {
  text-align: center;
  font-size: small;
  margin-top: 10px;
  margin-bottom: -10px;
}



