.golova img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:65%;
}


/*Стиль верхнего меню*/
.navbar ul {
    display:none;
    background-color: rgb(50, 49, 48);
    position:absolute;
    top: 100%;

   }

  .navbar li:hover ul { display: block; }
  .navbar, .navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
  }

 .navbar {
    height: 50px;
    background-color: black;
    padding-left: 0px;
    min-width: 400px;

     }


  .navbar li {
    float: left;
    position: relative;
    height: 100%;

    }
 .navbar li a {
    display: block;
       margin-right: 4px;
padding-top:5px;
margin-bottom:-4px;
    width: 176px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font: 1.0em sans-serif;
    line-height: 2.0em;
          }

     .navbar ul a {
      text-align: left;
      line-height: 1.0em;
      padding: 15px;
       
      }

  .navbar ul li { float: none; width: 190px;}
  .navbar li:hover {background-color: black;}
  .navbar ul li:hover { background-color: rgb(202, 54, 54);}
  .container-fluid h1{
    text-align: center;
    display: inline-block;
    font-size: 35px;
    vertical-align: middle;
    margin-left: 185px;
                  }
 .container-fluid img{
    margin-left: 170px;

      }

.footer-dark {
    padding:20px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }

  .footer-dark h3 {
    margin-top:5px;
    margin-bottom:15px;
    margin-left:0;
    font-weight:bold;
    font-size:16px;
  }

  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-left:0;
    margin-right:1px;
  }

  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }

  .footer-dark ul a:hover {
    opacity:0.8;
  }

  .footer-dark .item.text {
    margin-bottom:5px;
    padding-right: 25px;
  }
  

  @media (min-width:767px) {
    .footer-dark .item.text {
      margin-bottom:50px;
    }
  }
  
  .footer-dark .item.text p img {
    opacity:0.6;
    margin-bottom:10;
  }

p {
  text-align: left;
  font-size: medium;
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  text-align: center;
  
}

.val{
width: 250px;
}

@media (max-width:998px) {
  .val {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
  
    
.col-sm-9 {
  padding: 45px;
}
.col-sm-3 img{
  display: inline-block;
  max-width: 100%;
  }
  .col-sm-3{
    margin-right: 0;
    padding-right: 0;
  }


figure img{
  width: 100%;
}
form {
  width:100%;
  margin-right: 10px;
  margin-top: 25px;
  padding-right: 2px;

  }
  input{
  padding:4px ;
  border:0;
  font-size:16px;
  }
  .submit{
    
    background-color: #bc1010;
    color:white;
    font-size: 16px;
    padding-right: 2px;
   
        }
  .search {
  width: 55%;
  border: 1px solid black;
  height: 31px;
   
  }
  
      .row{
        padding: 0px;
        --bs-gutter-x: 0;
      }
      .foot1 p{
        text-align: center;
      }
      #m-booked-weather-bl250-4792{
        margin-top: 25px;
        border: 1px solid black;
      }
      .pogoda p{
        text-align: left;
        font-size: larger;       
     }
     
    .simvol1 h2{
     text-align: center;
     color: #088f47;
    }
    .simvol1{
      border: 3px solid black;
      border-radius: 0 20px;
      padding: 15px;
      margin-top: 80px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .simvol1 img{
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width:30%;
             }
             .simvol h2{
              text-align: center;
              color: #088f47;
             }
             .simvol{
               border: 3px solid black;
               border-radius: 0 20px;
               padding: 15px;
               margin-top: 80px;
               margin-left: 10px;
               margin-right: 10px;
             }
             .simvol img{
               margin-top: 20px;
               margin-bottom: 10px;
               margin-left: auto;
               margin-right: auto;
               display: block;
               width:20%;
                      }
             .btn  {
      background-color: rgb(220, 86, 86);
      border-radius: 15px;
      color: white;
      display: inline-block;   
      text-decoration: none;
      margin-top: 20px;
    }
      
h5{
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}
.col-sm-12 a{
  margin-left: 20px;
}
.border-collapse{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

  .zagolovok h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: -10px;
    padding: 10px;
    
  }
  
  .col-sm-6 p, h4{
    padding: 20px;
    text-align: center;
  
  }
  h6 {
    text-align: center;
    margin-top: -20px;
    color: #727b84;
  
  }
  .card{
    margin:30px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: rgb(55, 52, 52) 3px 3px;
    position: static;
  }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(146, 142, 142);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.col-sm-5{
  margin-left: auto;
  margin-right: auto;
width: 65%;}
  
 .fon{ 
    background-image:  url(../images/COVID.jpg); /* Фоновый цвет и фоновый рисунок*/
  color: #fff; /*Цвет текста на странице*/
  background-attachment: fixed; /* Фон страницы фиксируется */
  background-repeat: no-repeat; 
  background-size: cover;
 
}
.fon p{
  text-align: center;
  color: #282d32;
  background: #ccc;
  border-radius: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  }
.container1 p{
  text-align: center;
}