<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Районный совет Тараклии</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.j"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.cs">
    
    <!-- Добавление статического CSS файла -->
    {% load static %}
                <link rel="stylesheet" href="../static/boots/css/bootstrap.css">
                  {% block head %}
                    
                    <img src="{% static 'images/logotip.png' %}" style="height:150px;"  align="absmiddle">
            <h1>Районный совет Тараклия</h1>
            <a href="index.html"><img src="{% static 'images/gerb1.jpg' %}" style="height:150px;"  align="absmiddle">
      
    
    {% endblock %}
</head>
<body>
    <div class="nav nav-justified">
        <li class="nav-item"> <a class="nav-link.active" href="{% url 'index' %}">Главная</a> </li>
        <li class="nav-item"> <a class="nav-link.active" href="#">Район Тараклия</a>
            <ul class="nav-item">
                <li> <a class="nav-link.active" href="passport">Паспорт Района</a></li>
                <li> <a class="nav-link.active" href="#">Символика</a></li>
                <li> <a class="nav-link.active" href="#">Примэрии</a></li>
                <li> <a class="nav-link.active" href="http://tourism.raiontaraclia.md/" target="_inset">Туризм</a></li>
                <li> <a class="nav-link.active" href="http://investin.raiontaraclia.md/" target="_inset">Инвестиции</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link.active" href="#">Новости</a>
            <ul class="nav-item">
                <li><a class="nav-link.active" href="#">Объявления</a></li>
                <li><a class="nav-link.active" href="#">COVID-19</a></li>
                <li><a class="nav-link.active" href="#">Вакансии</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link.active" href="#">Районный совет</a>
            <ul class="nav-item">
                <li><a class="nav-link.active" href="#">Председатель</a></li>
                <li><a class="nav-link.active" href="#">Секретарь</a></li>
                <li><a class="nav-link.active" href="#">Советники района</a></li>
                <li><a class="nav-link.active" href="#">Специализированные комисии</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link.active" href="#">Администрация</a>
            <ul class="nav-item">
                <li><a class="nav-link.active" href="#">Руководство</a></li>
                <li><a class="nav-link.active" href="#">Аппарат председателя</a></li>
                <li><a class="nav-link.active" href="#">Децентрализованные службы</a></li>
                <li><a class="nav-link.active" href="#">Деконцентрированные службы</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link.active" href="#">Документы</a>
            <ul class="nav-item">
                <li><a class="nav-link.active" href="#">Распоряжения</a></li>
                <li> <a class="nav-link.active" href="#">Решение&nbspрайонного совета</a></li>
                <li> <a class="nav-link.active" href="#">КЧС</a></li>
                <li> <a class="nav-link.active" href="#">Гос. закупки</a></li>
                <li> <a class="nav-link.active" href="#">Планы и отчёты</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link.active" href="#">Контакты</a></li>
        <li class="nav-item"> <a class="nav-link.active" href="#">Язык</a>
            <ul class="nav-item">
                <li> <a class="nav-link.active" href="#">Русский</a></li>
                <li> <a class="nav-link.active" href="#">Български</a></li>
                <li> <a class="nav-link.active" href="#">Română</a></li>
            </ul>
        </li>
    </div>

    <div class="row">    
    <div class="col-sm-9">
    {% block content %}{% endblock %}
</div>
<div class="col-sm-3">
 <form> 
    <input type="text" name=text class="search" placeholder"Поиск...">
    <input type="submit" name="submit" class="submit" value="Поиск &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp ">
  </form>

 </div>
</div>
    {% block pagination %}
      {% if is_paginated %}
          <div class="pagination">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a href="{{request.path}}?page={{page_obj.previous_page_number }}">Предыдущая</a>
                  {% endif %}
                  <span class="page-current">
                      Страница {{ page_obj.number }} из
                          {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a href="{{ request.path }}?page={{page_obj.next_page_number }}">Следующая</a>
                  {% endif %}
              </span>
          </div>
      {% endif %}
    {% endblock %}


    <footer>
        <div class="footer-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-md-3 item">
                        <img src="../static/images/lev.png" alt="lev" height="150px">
                    </div>
                    <div class="col-sm-3 col-md-3 item text">
                        <h3>Адрес</h3>
                        <ul>
                            <li>Районный совет Тараклия</li>
                            <li>Республика Молдова</li>
                            <li>MD-7401 Тараклия, Штефан чел Маре, 59</li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-sm-3 item text">
                        <h3>Контакты</h3>
                        <ul>
                            <li>Приемная: +373(294)24-6-50</li>
                            <li>E-mail:</li>
                            <li>anticamera-rs@mail.ru</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-3 item text">
                        <h3>Полезные контакты:</h3>
                        <ul>
                            <li>Службы экстренных вызовов - 112</li>
                            <li>Антикоррупция - 22 504-504</li>
                            <li>Справочная служба - 1181</li>
                        </ul>
                    </div>
            </div>
            <div class="foot1">
            <p>Районный совет Тараклия © 2022. Все права защищены</p>
        </div>
        </div>        
    </footer>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</body>