<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Районный совет Тараклии</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../static/images/lev.png" type="image/x-icon">
    <!-- Добавление статического CSS файла -->
    {% load static %}
                <link rel="stylesheet" href="{% static 'boots/css/bootstrap.css' %}">
                <link rel="stylesheet" href="{% static 'css/style.css' %}">
                <script src="{% static 'js/js.js' %}"></script>
                  {% block head %}
                  
                    
                   
                   <div class="golova"> 
            <a href="{% url 'index' %}"><img src="{% static 'images/TEST.jpg' %}" align="absmiddle">
            </div>
    
    {% endblock %}
</head>
<body>
   
   

    <div class="navbar nav-justified">
        
              <li class="nav-item"> <a class="nav-link.active" href="{% url 'index' %}">Главная</a> </li>
        <li class="nav-item"> <a class="nav-link.active" href="#">Район Тараклия</a>
            <ul class="navbar-nav">
                <li> <a class="nav-link.active" href="passport">Паспорт Района</a></li>
                <li> <a class="nav-link.active" href="simvol">Символика</a></li>
                <li> <a class="nav-link.active" href="prim">Примэрии</a></li>
                <li> <a class="nav-link.active" href="http://tourism.raiontaraclia.md/" target="_inset">Туризм</a></li>
                <li> <a class="nav-link.active" href="http://investin.raiontaraclia.md/" target="_inset">Инвестиции</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link.active" href="#">Новости</a>
            <ul class="navbar-nav">
                <li><a class="nav-link.active" href="#">Объявления</a></li>
                <li><a class="nav-link.active" href="covid">COVID-19</a></li>
                <li><a class="nav-link.active" href="#">Вакансии</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link.active" href="#">Районный совет</a>
            <ul class="navbar-nav">
                <li><a class="nav-link.active" href="pred">Председатель</a></li>
                <li><a class="nav-link.active" href="secret">Секретарь</a></li>
                <li><a class="nav-link.active" href="sovet">Советники района</a></li>
                <li><a class="nav-link.active" href="speccom">Специализированные комисии</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link.active" href="#">Администрация</a>
            <ul class="navbar-nav">
                <li><a class="nav-link.active" href="ruc">Руководство</a></li>
                <li><a class="nav-link.active" href="apar">Аппарат председателя</a></li>
                <li><a class="nav-link.active" href="decent">Децентрализованные службы</a></li>
                <li><a class="nav-link.active" href="decont">Деконцентрированные службы</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link.active" href="#">Документы</a>
            <ul class="navbar-nav">
                <li><a class="nav-link.active" href="rasp">Распоряжения</a></li>
                <li> <a class="nav-link.active" href="resh">Решение&nbspрайонного совета</a></li>
                <li> <a class="nav-link.active" href="kcs">КЧС</a></li>
                <li> <a class="nav-link.active" href="gosz">Гос. закупки</a></li>
                <li> <a class="nav-link.active" href="#">Планы и отчёты</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link.active" href="contacti">Контакты</a></li>
        <li class="nav-item"> <a class="nav-link.active" href="#">Язык</a>
            <ul class="navbar-nav">
                <li> <a class="nav-link.active" href="#">Русский</a></li>
                <li> <a class="nav-link.active" href="#">Български</a></li>
                <li> <a class="nav-link.active" href="#">Română</a></li>
            </ul>
            
                </li>
               
    </div>   
    
    <div class="row">    
    <div class="col-sm-9">
    {% block content %}{% endblock %}
</div>
<div class="col-sm-3">
    
 <div class="ban">
    
    <form> 
        <input type="text" name="text" class="search" placeholder ="Поиск...">
        <input type="submit" name="submit" class="submit" value="Поиск  ">
      </form>
      <br>
     
      <div class="pogoda"><p><strong> ПОЛЕЗНЫЕ ССЫЛКИ</strong></p></div>
      <a href="https://gov.md/ru" target="_inset"><img src="../static/images/Guv RM.jpg" width="250" alt="" align="center"></a>
      <a href="https://www.parlament.md" target="_inset"><img src="../static/images/Parl RM.jpg"  width="250" alt="" align="center"></a>
      <a href="https://www.presedinte.md/rus" target="_inset"><img src="../static/images/Presedintia RM.jpg"  width="250" alt="" align="center"></a>
      <a href="https://cancelaria.gov.md" target="_inset"><img src="../static/images/Cancelaria RM.jpg"  width="250" alt="" align="center"></a>
      <a href="https://egov.md/ru" target="_inset"><img src="../static/images/Centrul de Guvernare Electronica.jpg"  width="250" alt="" align="center"></a>
      <a href="https://actelocale.gov.md" target="_inset"><img src="../static/images/Registrul de Stat.jpg"  width="250" alt="" align="center"></a>
      <a href="https://date.gov.md" target="_inset"><img src="../static/images/Portalul.jpg"  width="250" alt="" align="center"></a>

    <br>
    <div class="pogoda"><p><strong> ПОГОДА В ТАРАКЛИИ</strong></p></div>
      <!-- weather widget start --><a target="_blank" href="https://nochi.com/weather/taraclia-139396"><img src="https://w.bookcdn.com/weather/picture/3_139396_1_20_137AE9_250_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=589&anc_id=12907"  alt="booked.net"/></a><!-- weather widget end -->
     <br>
     <div class="pogoda"><p><strong> КУРС ВАЛЮТ</strong></p></div>
     <!-- НАЧАЛO СКРИПТ ИСТОЧНИК ВАЛЮТНОГО КУРСА v2.0 -->
<div class="val"><script type="text/javascript" language="javascript" src="//cdn1.cursbnm.md/custom_widgets/get_widget.php?lw=responsive&rw=1&font=Trebuchet%20MS&cft=00b0ea&ctt=ffffff&ttb=0&cc=f2f2f2&cfb=ffffff&ct=000000&pd=4&pc=4&aiv=1&val[]=7&val[]=15&val[]=16&val[]=12&mf=14&avc=1&ac=1&aod=0&lang=ru"></script>
<!-- КОНЕЦ СКРИПТ ИСТОЧНИК ВАЛЮТНОГО КУРСА v2.0--></div>
        </div>
</div>
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">☝</button>
    {% block pagination %}
      {% if is_paginated %}
          <div class="pagination">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a href="{{request.path}}?page={{page_obj.previous_page_number }}">Предыдущая</a>
                  {% endif %}
                  <span class="page-current">
                      Страница {{ page_obj.number }} из
                          {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a href="{{ request.path }}?page={{page_obj.next_page_number }}">Следующая</a>
                  {% endif %}
              </span>
          </div>
      {% endif %}
    {% endblock %}


    <footer>
        <div class="footer-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-md-3 item">
                        <img src="../static/images/lev.png" alt="lev" height="150px">
                    </div>
                    <div class="col-sm-3 col-md-3 item text">
                        <h3>Адрес</h3>
                        <ul>
                            <li>Районный совет Тараклия</li>
                            <li>Республика Молдова</li>
                            <li>MD-7401 Тараклия, Штефан чел Маре, 59</li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-sm-3 item text">
                        <h3>Контакты</h3>
                        <ul>
                            <li>Приемная: +373(294)24-6-50</li>
                            <li>E-mail:</li>
                            <li>anticamera-rs@mail.ru</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-3 item text">
                        <h3>Полезные контакты:</h3>
                        <ul>
                            <li>Службы экстренных вызовов - 112</li>
                            <li>Антикоррупция - 22 504-504</li>
                            <li>Справочная служба - 1181</li>
                        </ul>
                    </div>
            </div>
            <div class="foot1">
            <p>Районный совет Тараклия © 2022. Все права защищены</p>
        </div>
        </div>        
    </footer>
   
</body> 