{% extends "base_generic.html" %}

{% block content %}

{% for el in summary %}
<div class="col-sm-6">
<img src= "{{el.image.url}}">
<h3>{{ el.title }}</h3><br>
&#9997Автор:&nbsp&nbsp{{ el.persona }}&nbsp&nbsp&nbsp&nbsp	&#9200;{{ el.data }}
  <br>
  <div class="tex">{{ el.summary }}</div>
 
 <script>
    $(document).ready(function(){
    $('.tex').text($('.tex').text().replace(/(\n|\r|\f)/g, ' '));
    $('.tex').html($('.tex').text().replace(/(.{200}).{0,}/, '$1... <a href="/">Подробнее</a>'));
    });
    </script>
    
 


{% endfor %}
</div>
{% endblock %} 

