{% extends "base_generic1.html" %}

{% block content %}
<button class="accordion">Section 1</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Section 2</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>
<script>var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight){
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }</script>

<div class="col-sm-12 p-1 d-sm-inline-flex justify-content-center">
<div class="row">
  <div class="cn1"><label for="menu" class="btn">ПРИВЕТСТВИЕ ПРЕДСЕДАТЕЛЯ</label></div>
  <img src="" alt="">
  <div class="cn2"><label for="basket" class="btn">БИОГРАФИЯ ПРЕДСЕДАТЕЛЯ</label></div>
</div></div>

<input type="radio" name="radio" id="menu" checked>
<input type="radio" name="radio" id="basket">
 
<div class="menu">
  <div class="col-sm-12">Здарова вуаааааааааааааааааа аааааааааааааааааааа ааааааааааа ааааааааааааааааааааааааплдоещшшк
    авоооооооооооооооо оооооооооооооv оооооооооооооооvvооооооооо ооооооооо
  </div>
  
</div>

<div class="basket"> 
  <div class="col-sm-12">Родился,женился</div>
  
</div>



  {{file}}
 
{% endblock %}