{% extends "base_generic.html" %}
{% block content %}
<h1><b>Аппарат Председателя</b></h1>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <b>Белиоглы Галина Ивановна​</b><br>
                <hr>
                Административный секретарь<br><br>
                Рабочий телефон:<br>
                (0294)24650<br>
                Факс: (0294)23542<br>
                Электронный адрес:<br>
                anticamera-rs@mail.ru<br>
               <br>
            </div>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <b>Фазлы Ирина Ильинична​</b><br>
                <hr>
                Кадровая служба<br><br>
                Рабочий телефон:<br>
                (0294)25198<br><br>
                Электронный адрес:<br>
                kadri-rs@mail.ru<br>
               <br><br>
            </div>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <b>Занфирова Олеся Николаевна​</b>
                <hr>
                Юридическая служба<br><br>
                Рабочий телефон:<br>
                (0294)23461<br><br>
                Электронный адрес:<br>
                jurist-rs@mail.ru<br>
               <br> 
            </div>
        </div>
    </div>
    </div>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <b>Белиоглова Елена Владимировна​</b><br>
                <hr>
                Административно — финансовая служба<br>
                Начальник службы<br><br>
                Рабочий телефон:<br>
                (0294)24057<br>
                Электронный адрес:<br>
                belioglova63@mail.ru<br>
               <br>
            </div>
        </div>
    </div> 
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <b>Войтович Виктор Владимирович​</b><br>
                <hr>
                Служба местного публичного управления<br>
                Начальник службы<br><br>
                Рабочий телефон:<br>
                (0294)25190<br>
                Электронный адрес:<br>
                smpu-taraclia@mail.ru<br>
               <br>  
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <b>Карамалак Степан Васильевич​</b><br>
                <hr>
                Служба внешних связей<br><br>
                Начальник службы<br><br>
                Рабочий телефон:<br>
                (0294)24707<br>
                Электронный адрес:<br>
                interelation@raiontaraclia.md<br>
               <br> 
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <b>Юровская Марина Афанасьевна​</b><br>
                <hr>
                Архивная служба<br><br>
                Рабочий телефон:<br>
                (0294)24651<br>
                Электронный адрес:<br>
                arhivtarakliamd@mail.ru<br>
               <br>
            </div>
        </div>
    </div> 
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <b>Сушко Светлана<br> Георгиевна​</b><br>
                <hr>
                Хозяйственный отдел<br><br>
                Рабочий телефон:<br>
                (0294)25190<br><br><br><br>  
            </div>
        </div>
    </div>
</div>
{% endblock %} 
