{% extends "base_generic.html" %}

{% block content %}

<div class="contacts">
  <h2>Как нас найти?</h2>
  <div class="coord">
    <div class="blok_coord">
      <div>
        <span class="ico1"><i class="fa fa-map-marker"></i></span>
      </div>
      <div class="txt">
        <p>Тараклия, Штефан чел Маре, 59</p>
      </div>
    </div>
    <div class="blok_coord">
      
        <p>Приемная председателя района Тараклия:</p>
        
        <div>
          <span class="ico"><i class="fa fa-phone"></i></span>
        </div>
        <div class="txt">
          <p>+373 22958917</p>
        </div>
      </div> 
    </div>
    <div class="blok_coord">
      <div>
      <span class="ico"><i class="fa fa-at"></i></span>
    </div>
      <div class="txt">
        <p>anticamera-rs@mail.ru</p>
      </div>
    </div>
  </div>
  <div class="map">
    <iframe
         
      src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d10875.867855839164!2d28.836030818739214!3d47.0408790585156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sSubaru!5e0!3m2!1sru!2s!4v1651875752415!5m2!1sru!2s" 
      width="95%" height="250" frameborder="0" allowfullscreen=""></iframe>
  </div>



  <div class="contacti">
    
    <p>РАЙОННЫЙ СОВЕТ ТАРАКЛИЯ<br>
      Республика Молдова MD- 7401<br>
      Тараклия, Штефан чел Маре, 59<br><br>
      Приемная председателя района Тараклия:<br>
      &#9742+373(0294) 24650<br>
      &#9993E-mail:<br>
      anticamera-rs@mail.ru<br>
    </p>  
</div>
<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235.0149249880949!2d28.66866247023043!3d45.89912517010255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b7b493f193ce9d%3A0x5343aacd55062f8d!2z0KDQsNC50L7QvdC90YvQuSDRgdC-0LLQtdGCINCi0LDRgNCw0LrQu9C40Y8!5e0!3m2!1sen!2s!4v1662911472591!5m2!1sen!2s" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock %} 