{% extends "base_generic1.html" %}

{% block content %}
<div class="fon">
    <h1>Что такое Коронавирус?</h1>
    <p>Коронавирус — входит в семейство вирусов, приводящих к заболеванию органов дыхания.<br> Чаще всего — без тяжёлых симптомов. Мировую пандемию вызвал SARS‑CoV‑2,  впервые был обнаруженный в Китае в конце декабря.</p>
    <h1>Симптомы COVID-19</h1>
    <div class="col-sm-5">
    
<button class="accordion"><b>ЧАСТО НАБЛЮДАЕМЫЕ СИМПТОМЫ:</b></button>
<div class="panel">
 <p> 
    &#9675;&nbspповышение температуры;<br>
    &#9675;&nbspкашель;<br>
    &#9675;&nbspутомляемость;<br>
    &#9675;&nbspпотеря обоняния и вкусовых ощущений.<br>
  </p>
</div>

<button class="accordion"><b>У НЕКОТОРЫХ ИНФИЦИРОВАННЫХ МОГУТ ТАКЖЕ НАБЛЮДАТЬСЯ:</b></button>
<div class="panel">
  <p>&#9675;&nbspболь в горле;<br>
    &#9675;&nbspголовная боль;<br>
    &#9675;&nbspразличные другие болевые ощущения;<br>
    &#9675;&nbspдиарея;<br>
    &#9675;&nbspсыпь на коже или изменение цвета кожи на пальцах рук или ног;<br>
    &#9675;&nbspпокраснение или раздражение глаз.<br></p>
</div>

<button class="accordion"><b>СИМПТОМЫ ТЯЖЕЛОЙ ФОРМЫ ЗАБОЛЕВАНИЯ:</b></button>
<div class="panel">
  <p>&#9675;&nbspзатрудненное дыхание или одышка;<br>
    &#9675;&nbspнарушение речи или двигательных функций или спутанность сознания;<br>
    &#9675;&nbspболь в грудной клетке.</p><br>
        </div>
   <br><br> <h1>Распространение COVID-19</h1>
   <p>COVID-19 передаётся от человека к человеку при близком контакте с больным, через мелкие капли, выделяемые инфицированным из носа или рта при кашле, чихании или разговоре. </p>
</div>
</div>
<h1> Список Центров Здоровья района Тараклия</h1>
<div class="row">
  <div class="col-sm-4">
  <div class="card">
      <div class="container1">
        <h4><b>Ковач Артур Александрович</b></h4> 
        <h6><b>И.О. Главного врача ЦРБ</b></h6><br>    
        <h6>(г. Тараклия ул. В. Чебанова, 1)</h6><br>
        <p>Рабочий телефон
        <br>(0294)21021<br>
        <br>Приемная
        <br>(0294)21021<br>
        <br>Электронный адрес:
        <br>srtaraclia@ms.md<br><br><br><br><br>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
        <div class="container1">
          <h4><b>Пулукчу
            Анна Васильевна</b></h4> 
          <h6><b>Заведующая ЦЗ Тараклии</b></h6><br>    
          <h6>(г. Тараклия ул. Котовского, 2)</h6><br>
          <p>Рабочий телефон
          <br>(0294)24448<br>
          <br>Приемная
          <br>(0294)24458<br>
          (0294)25503<br>
         <br> Факс:<br>
          (0294)24448<br>
          <br>Электронный адрес:
          <br>imsptaraclia@ms.md
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
          <div class="container1">
            <h4><b>Топал
              Василиса Михайловна</b></h4> 
            <h6><b>Зав.отделением семейных врачей </b></h6><br>    
            <h6>&nbsp</h6><br>
            <p>Рабочий телефон
            <br>(0294)24448<br>
            <br>Приемная
            <br>(0294)24458<br>
            (0294)25503<br>
           <br> Факс:<br>
            (0294)24448<br>
            <br>Электронный адрес:
            <br>imsptaraclia@ms.md<br>
            </p>
          </div>
        </div>
      </div>  </div>
      <div class="row">
      <div class="col-sm-4">
        <div class="card">
            <div class="container1">
              <h4><b>Герганова
                Мария Михайловна</b></h4> 
              <h6><b>Заведующая ЦЗ Валя-Пержей</b></h6><br>    
              <h6>(с. Валя-Пержей ул. Молоткова, 8Б)</h6><br>
              <p>Рабочий телефон
              <br>(0291)47674<br>
              <br>Электронный адрес:
              <br>cs.valeaperjei@ms.md<br>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
              <div class="container1">
                <h4><b>Таукчи
                  Надежда Степановна</b></h4> 
                <h6><b>И.О. Заведующей ЦЗ Кортен</b></h6><br>    
                <h6>(с. Кортен ул. Кирова, 14)</h6><br>
                <p>Рабочий телефон
                <br>(0291)72850<br>
                <br>Электронный адрес:
                <br>cscorten@mail.md<br>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
                <div class="container1">
                  <h4><b>Чебан
                    Сергей Трифонович
                    </b></h4> 
                  <h6><b>И.О.Заведующего ЦЗ Виноградовка</b></h6><br>    
                  <h6>(к. Виноградовка)</h6><br>
                  <p>Рабочий телефон<br>
                  <br>(0294)92325
                  <br>Электронный адрес:
                  <br>csmusaitu@ms.md<br>
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
              <div class="card">
                  <div class="container1">
                    <h4><b>Калинкова
                      Екатерина Федоровна</b></h4> 
                    <h6><b>И.О. Заведующей ЦЗ Твардица</b></h6><br>    
                    <h6>(г. Твардица ул. Садовая, 1А)</h6><br>
                    <p>Рабочий телефон
                    <br>(0291)63203<br>
                    
                    <br>Электронный адрес:
                    <br>imsp.tvardita@gmail.com<br><br><br><br><br><br>
                    <br><br>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                    <div class="container1">
                      <h4><b>Брума
                        Светлана Ивановна</b></h4> 
                      <h6><b>Директор Центра Общественного Здоровья (ЦОЗ) Тараклия</b></h6><br>    
                      <h6>(г. Тараклия ул. Мира, 1)</h6><br>
                      <p>Рабочий телефон
                      <br>(0294)24086<br>
                      
                     <br> Факс:<br>
                     (0294)23970<br>
                      <br>Электронный адрес:
                      <br>csp.taraclia@ms.md<br><br><br><br><br>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                      <div class="container1">
                        <h4><b>Сабия
                          Надежда Николаевна</b></h4> 
                        <h6><b>Начальник скорой помощи SAMU TARACLIA</b></h6><br>    
                        <h6>(г. Тараклия ул. Мира)</h6><br>
                        <p>Рабочий телефон
                        <br>(0294)23203
                        <br><br>
                        <br>Электронный адрес:
                        <br>statist.taraclia@ambulanta.md<br><br> <br><br><br><br>
                        <br>
                        </p>
                      </div>
                    </div>
                  </div>  </div>
                  
  
</div>
<div class="col-sm-4"style="margin-left:auto;margin-right:auto;">
  <div class="card" >
      <div class="container1">
        <h4><b>Шишкова Людмила</b></h4> 
        <h6><b>Врач-нарколог ЦРБ</b></h6><br>    
        <p>
        <br>Электронный адрес:
        <br>srtaraclia@ms.md</p><br><br> <br>
        <br>
        </p>
      </div>
    </div>
  </div>  


<script>var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight){
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }</script>

{% endblock %}