{% extends "base_generic1.html" %}

{% block content %}
<h1>Децентрализованные службы</h1>

<div class="row">
    <div class="col-sm-6">
    <div class="card">
        <div class="container1">
          <h4><b>Управление социального обеспечения и защиты семьи</b></h4> 
          <h6><b>Филипова Галина Михайловна</b></h6><br>    
          <p>Рабочий телефон
          <br>(0294)25093<br>
          (0294)25098<br>
          <br>Факс: (0294)23262
          <br>
          <br>Электронный адрес:
          <br>as.taraclia@gmail.com<br>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="container1">
              <h4><b>Управление образования, культуры и туризма</b></h4> 
              <h6><b>Филипова Галина Михайловна</b></h6><br>    
              <p>Рабочий телефон
              <br>(0294)25093<br>
              (0294)25098<br>
              <br>Факс: (0294)23262
              <br>
              <br>Электронный адрес:
              <br>as.taraclia@gmail.com<br>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="container1">
                  <h4><b>Управление социального обеспечения и защиты семьи</b></h4> 
                  <h6><b>Филипова Галина Михайловна</b></h6><br>    
                  <p>Рабочий телефон
                  <br>(0294)25093<br>
                  (0294)25098<br>
                  <br>Факс: (0294)23262
                  <br>
                  <br>Электронный адрес:
                  <br>as.taraclia@gmail.com<br>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="container1">
                      <h4><b>Управление социального обеспечения и защиты семьи</b></h4> 
                      <h6><b>Филипова Галина Михайловна</b></h6><br>    
                      <p>Рабочий телефон
                      <br>(0294)25093<br>
                      (0294)25098<br>
                      <br>Факс: (0294)23262
                      <br>
                      <br>Электронный адрес:
                      <br>as.taraclia@gmail.com<br>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="container1">
                          <h4><b>Управление социального обеспечения и защиты семьи</b></h4> 
                          <h6><b>Филипова Галина Михайловна</b></h6><br>    
                          <p>Рабочий телефон
                          <br>(0294)25093<br>
                          (0294)25098<br>
                          <br>Факс: (0294)23262
                          <br>
                          <br>Электронный адрес:
                          <br>as.taraclia@gmail.com<br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="container1">
                              <h4><b>Управление социального обеспечения и защиты семьи</b></h4> 
                              <h6><b>Филипова Галина Михайловна</b></h6><br>    
                              <p>Рабочий телефон
                              <br>(0294)25093<br>
                              (0294)25098<br>
                              <br>Факс: (0294)23262
                              <br>
                              <br>Электронный адрес:
                              <br>as.taraclia@gmail.com<br>
                              </p>
                            </div>
                          </div>
                        </div>

</div>

{% endblock %}