{% extends "base_generic1.html" %}

{% block content %}
<h1>Децентрализованные службы</h1>

<div class="row">
    <div class="col-sm-6">
    <div class="card">
        <div class="container1">
          <h4><b>Управление социального обеспечения и защиты семьи</b></h4> 
          <h6><b>Филипова Галина Михайловна</b></h6><br>    
          <p>Рабочий телефон
          <br>(0294)25093<br>
          (0294)25098<br>
          <br>Факс: (0294)23262
          <br>
          <br>Электронный адрес:
          <br>as.taraclia@gmail.com<br>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="container1">
              <h4><b>Управление образования, культуры и туризма</b></h4> 
              <h6><b>Сарсаман Лилия Павловна</b></h6><br>    
              <p>Рабочий телефон
              <br>(0294)25981<br><br>
              Приемная:
              <br>(0294)24748
              <br>
              <br>Электронный адрес:
              <br>ruotar@gmail.com<br>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="container1">
                  <h4><b>Управление строительства, коммунального хозяйства и дорог</b></h4> 
                  <h6><b>Ябанжи Александра Петровна</b></h6><br>    
                  <p>Рабочий телефон
                  <br>(0294)23081<br>
                  <br>Электронный адрес:
                  <br>stroitar@mail.ru<br>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="container1">
                      <h4><b>Финансовое управление</b></h4><br>
                      <h6><b>Пукал Лариса Григорьевна</b></h6><br>    
                      <p>Рабочий телефон
                      <br>((0294)24848<br>
                      <br>Электронный адрес:
                      <br>dftaraclia@mail.ru<br>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="container1">
                          <h4><b>Отдел экономического и инвестиционного развития</b></h4> 
                          <h6><b>Никифорова Ирина Васильевна</b></h6><br>    
                          <p>Рабочий телефон
                          <br>(0294)23544<br>
                          <br>Электронный адрес:
                          <br>investin.taraclia@gmail.com<br>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="container1">
                              <h4><b>Отдел сельского хозяйства и земельных отношений</b></h4> 
                              <h6><b>Георгиев Дмитрий Николаевич</b></h6><br>    
                              <p>Рабочий телефон
                              <br>(0294)23031<br>
                              <br>Электронный адрес:
                              <br>agrotaruprava@mail.ru<br>
                              </p>
                            </div>
                          </div>
                        </div>

</div>

{% endblock %}