{% extends "base_generic.html" %}

{% block content %}
<h1>Деконцентрированные службы</h1>
<br><br>
<button class="accordion"><strong>Территориальный офис государственной канцелярии Тараклия</strong></button>
<div class="panel">
  <p><b>Руководитель:</b><br>
    Михайлов Иван<br><br>
    
    
    <b>График работы:</b><br>
    Понедельник - Пятница: 8:00-17:00<br>
    Обеденный перерыв: 12:00-13:00<br><br>
    
    
   <b> Контакты:</b><br>
    <b>тел.:</b> (0294)21-00-0  <br>     
   <b> E-mail:</b> ivan.mihailov@gov.md<br><br>
    
  <b>  Адрес:</b><br>
     г. Тараклия, ул. Карла Маркса,69</p>
</div>
<br>
<button class="accordion"><strong>Инспекция охраны окружающей среды района Тараклия</strong></button>
<div class="panel">
  <p><b>Руководитель:</b><br>
    Балтаков Андрей Александрович<br><br>
    
    
   <b> График работы:</b><br>
    Понедельник - Пятница: 8:00-17:00<br>
    Обеденный перерыв: 12:00-13:00<br><br>
    
    
   <b> Контакты:</b><br>
   <b> тел.:</b> (0294)2-30-84   <br>      
  <b>  E-mail:</b> ipmtaraclia@ipm.gov.md<br><br>
    
    
   <b> Адрес:</b><br>
    г.Тараклия,  ул. Мира,7</p>
</div>
<br>
<button class="accordion"><b>Управление Налогового обслуживания Тараклия</b></button>
<div class="panel">
  <p><b>Руководитель:</b><br>
    Касапова Альбина Петровна<br><br>
    
    
   <b>График работы:</b><br>
    Понедельник - Пятница: 8:00-17:00<br>
    Обеденный перерыв: 12:00-13:00<br>
    
    
   <b> Контакты:</b><br>
   <b>тел.:</b> (0294)2-01-18  <br> 
   <b>Приемная:</b> (0294)20117  <br>     
    <b>E-mail:</b> taracliaddf@sfs.md<br><br>
    
    
   <b>Адрес:</b><br>
    г.Тараклия, ул. Ленина, 143/5</p><br>
</div>
<br>
<button class="accordion"><b>Тараклийское территориальное подразделение государственной инспекции по техническому надзору «Intehagro» Тараклия</b></button>
<div class="panel">
  <p><b>Руководитель:</b><br>
    Романов Василий Иванович<br><br>
    
    
   <b>График работы:</b> <br>
    Понедельник, Среда, Пятница: 8:00-17:00 - выездные дни.<br>
    Вторник-Четверг: 08:00-17:00 - приемные дни.<br>
    Обеденный перерыв: 12:00-13:00<br><br>
    
    
    <b>Контакты:</b><br>
    тел.: (0294)2-33-31<br><br> 
    
    <b>Адрес:</b><br>
    г.Тараклия,  ул. Ленина, 126</p></p><br>
</div>
<br>
<button class="accordion"><b>Агентство занятости населения</b></button>
<div class="panel">
  <p><b>Руководитель:</b><br>
    Таукчи Владимир Иванович<br><br>
    
    
    <b>График работы:</b><br>
    Понедельник - Пятница: 07:30-16:00<br>
    Обеденный перерыв: 12:00-12:30<br><br>
    
    
   <b> Контакты:</b><br>
    <b>тел.:</b> (0294)2-53-82<br>
                (0294)2-59-98<br><br>
    
   <b> E-mail:</b> vladimir.taucci@anofm.md<br><br>
    
    
   <b> Адрес:</b><br>
    г.Тараклия,  ул. Штефан чел Маре,  9Б</p><br>
</div>
<br>
<button class="accordion"><b>Центр общественного здоровья</b></button>
<div class="panel">
  <p><b>Руководитель:</b><br>
    Карамалак Елена Даниловна - координатор Тараклия<br><br>
    
    
    <b>Контакты:</b><br>
   <b>тел.:</b> (0294)2-40-86  <br>         
   <b>E-mail:</b> csp.taraclia@ms.md<br><br>
    
     
    
   <b>Адрес:</b><br>
    г. Тараклия, ул. Мира, 1</p><br>
</div>
<br>
<button class="accordion"><b>Инспекторат полиции Тараклия</b></button>
<div class="panel">
  <p><b>Руководитель:</b><br>

    Кыльчик Юрий Федорович<br><br>
    
     
    
    <b>График работы:</b><br>
    Понедельник - Пятница: 8:00-17:00<br>
    Обеденный перерыв: 12:00-13:00<br><br>
    
    
    <b>Контакты:</b><br>
   <b> тел.:</b> (0294)2-48-80 <br>  
                (0294)2-30-89<br><br>
        
   <b> E-mail:</b> ip_taraclia@igp.gov.md <br><br>
    
    
   <b> Адрес:</b><br>
    г.Тараклия,  ул. Первомайская, 69а</p><br>
</div>
<br>
<button class="accordion"><b>Отдел чрезвычайных ситуаций Тараклия</b></button>
<div class="panel">
  <p><b>Руководитель:</b><br>
    Парликов Виктор<br><br>
    
    
    <b>График работы:</b><br>
    Понедельник - Пятница: 8:00-17:00<br>
    Обеденный перерыв: 12:00-13:00
    <br><br>
    
   <b> Контакты:</b><br>
   <b> тел.:</b> (0294)2-46-04         <br>
   <b> E-mail:</b> taraclia@dse.ms<br><br>
    
    
   <b> Адрес:</b><br>
    г.Тараклия,  ул. Ленина, 130</p><br>
</div>
<br>
<button class="accordion"><b>Территориальный военный центр Тараклия</b></button>
<div class="panel">
  <p><b>Руководитель:</b><br>
    Микульская Ирина Георгиевна<br><br>
    
    
    <b>График работы:</b><br>
    Понедельник - Пятница: 8:00-17:00<br>
    Обеденный перерыв: 12:00-13:00<br><br>
    
    
    <b>Контакты:</b><br>
    <b>тел.:</b> (0294)22029<br>
                (0294)22323     <br>  <br>  
    <b>E-mail:</b> сmt.taraclia@army.md<br><br>
    
    
    <b>Адрес:</b><br>
    г.Тараклия,  ул. Ленина, 132</p><br>
</div>
<br>
<button class="accordion"><b>Управление технического надзора ЮГ</b></button>
<div class="panel">
  <p><b>Руководитель:</b><br>
    Стоянов Игорь Васильевич<br><br>
    
    
   <b> График работы:</b><br>
    Понедельник - Пятница: 8:00-17:00<br>
    Обеденный перерыв: 12:00-13:00<br><br>
    
    
    <b>Контакты:</b><br>
   <b> тел.:</b> (0294)2-45-49 <br>     
    <b>E-mail:</b> igor.stoianov@ast.gov.md<br><br>
    
    
   <b> Адрес:</b><br>
    г.Тараклия,  ул. Штефан чел Маре, 36, каб.1</p><br>
</div>
<br>
<button class="accordion"><b>Служба пробации Тараклия</b></button>
<div class="panel">
  <p><b>Руководитель:</b><br>
    Мериакри Сергей <br><br>
    
    
    <b>График работы:</b><br>
    Понедельник - Пятница: 8:00-17:00<br>
    Обеденный перерыв: 12:00-13:00<br><br>
    
    
    <b>Контакты:</b><br>
    <b> тел.:</b> (0294)2-57-16  <br>         
      <b> E-mail:</b> probatiune@probatiune.gov.md<br><br>
    
    
   <b> Адрес:</b><br>
    г.Тараклия,  ул. Первомайская, 32</p><br>
</div>
<br>
<button class="accordion"><b>Служба статистики Тараклия</b></button>
<div class="panel">
  <p><b>Руководитель:</b><br>
    Юровская Лилия Васильевна<br><br>
    
    
   <b> График работы:</b><br>
    Понедельник - Пятница: 8:00-17:00<br>
    Обеденный перерыв: 12:00-13:00<br><br>
    
    
   <b> Контакты:</b><br>
   <b> тел.:</b> (0294)2-55-72 <br>       
   <b> E-mail:</b> taraclia@statistica.gov.md<br><br>
    
    
   <b> Адрес:</b><br>
    г.Тараклия,  ул. Чебанова, 3/6</p><br>
</div>
<br>
<button class="accordion"><b>Территориальное управление по безопасности пищевых продуктов</b></button>
<div class="panel">
  <p><b>Руководитель:</b><br>
    Курдов Георгий Себастьянович<br><br>
    
    
    <b>График работы:</b><br>
    Понедельник - Пятница: 8:00-17:00<br>
    Обеденный перерыв: 12:00-13:00<br><br>
    
    
    <b>Контакты:</b><br>
    <b>тел.:</b> (0294)-22377 <br>        
    <b>E-mail:</b> drsa.taraclia@ansa.gov.md<br><br>
    
    
   <b> Адрес:</b><br>
    г.Тараклия,  ул. Ленина, 6</p><br>
</div>
<br>
<button class="accordion"><b>Территориальная касса социального страхования</b></button>
<div class="panel">
  <p><b>Руководитель:</b><br>
    Пасларь Ольга Дмитриевна<br><br>
    
    
    <b>График работы:</b><br>
    Понедельник - Пятница: 8:00-17:00<br>
    Обеденный перерыв: 12:00-13:00<br><br>
    
    
   <b> Контакты:</b><br>
   <b> тел.:</b> (0294)-2-30-28 <br>        
   <b> E-mail:</b> ctas.taraclia@cnas.gov.md<br><br>
    
    
   <b>Адрес:</b><br>
    г.Тараклия,  ул. Штефан чел Маре, 36</p><br>
</div>
<br>
<button class="accordion"><b>Многофункциональный центр Тараклия</b></button>
<div class="panel">
  <p><b>Руководитель:</b><br>
    Димитриева Федора Ивановна<br><br>
    
    
    <b>График работы:</b><br>
    Понедельник - Пятница: 8:00-17:00<br>
    Обеденный перерыв: 12:00-13:00<br><br>
    
    
    <b> Контакты:</b><br>
    <b>тел.:</b>(0294) 2-48-50<br>
               (0294) 2-48-50  <br>       
               <b> E-mail:</b> fedora-dimitrieva@asp.gov.md<br><br>
    
    
               <b> Адрес:</b><br>
    г.Тараклия, ул. Ленина, 128.</p><br>
</div>
<br>

<script>var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight){
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }</script>

{% endblock %}