{% extends "base_generic.html" %}

{% block content %}
<h1>Паспорт района</h1>
<figure>
<img src="../static/images/carta.jpg" alt="picture">
</figure>
<p><b>Таракли́йский райо́н</b> (молд. Raionul Taraclia) — административно-территориальная единица Республики Молдова. <br><br>Паспорт района
 <br><br> Район Тараклия- центр болгар в Молдове, в котором проживает 70% этнических болгар.

 <br><br>В состав Тараклийского района входит 26 населенных пунктов, в том числе:</p>
<br><br>
 <ol>
    <li>городов — 2;</li>
    <li>сел (коммун) — 13(6);</li>
    <li>населенных пунктов, входящих в состав сел (коммун) — 24.</li>
  </ol>
  <figure>
  <img src="../static/images/carta2.jpg "  alt="picture">
</figure>
  <h1>Этимология</h1>
  <p>Вопрос происхождения названия района Тараклия остался по-прежнему дискуссионным. Существует несколько вариантов происхождения названия района:</p>
  <br>
  <ol>
    <li>«Тараклия» происходит от слова – „гребень” — теорию выдвинул в межвоенный период священник Михаил Чакир;</li>
    <li>«Тарак – в переводе с ногайского языка, означает „гребень”, «Таракли»- можно перевести, как «гребнеобразный», вторая версия связывает название города с татарским словом- волночесалка. Считается, что предки тараклийцев были хорошими шелководами и овцеводами, у каждого в доме находился специальный инструмент — тарак(дарак), которым болгары расчесывали шерсть- данную теорию выдвинул краевед С. Танов;</li>
    <li>«Тараклия» и «Дараклия» получила название вследствие того, что была расположена на греде, на которой татары основали поселение и назвали его Тараклы- гребнеобразный вал, или Тараклия- гребень на лимане» — теорию выдвинул краевед Н. Дериволков;</li>
    <li>Ногайский род, который назывался «шоп тараклы», считая, что это имя двух племенных групп- шоп и тараклы- выяснил болгарский ономаст Т. Балкански.</li>
  </ol>
  <br>
  <p>Многие склоняются к тому, что, вероятнее всего, название происходит от названия ногайского рода Тараклы. Со временем это название трансформировалось в топоним, получив чисто топонимический словообразующий элемент, с окончанием -а (-я). Так здесь стала именоваться балка, где расположились первые болгарские переселенцы. Они же и позаимствовали это топонимическое название. Был найден архивный документ, подтверждающий данную теорию.
  <br>
  „Тараклия называется по имени Балки”
   <br>
Данный документ был составлен Казенно-экономической экспедицией Бессарабского областного правительства в 1820 г.</p>
<h1>География</h1>
<p></p>Район Тараклия расположен в Южно-Бессарабской холмистой равнине, на юге Республики Молдова в Буджакской степи на 45°55′ с. ш. 28°35′ в. д.
<br><br>
Рельеф представляет собой холмистые равнины, относительная высота, которых, не превышает 200 м. над уровнем моря.
<br><br>
Площадь района составлявляет 673, 69 км.
<br><br>
Земли Тараклийского района характеризуются как обыкновенные и карбонатные черноземы. Однако определенная часть (~30%) земель представлены солонцами или солонцеватыми черноземами, которые нуждаются в мелиорации и нейтрализации солей.
<br><br>
Ресурсы поверхностных вод на территории Тараклийского района включают: 4 основные реки:</p>

<ul>
  <li>Большой Ялпуг – 50 км.;</li>
  <li>Лунгуца – 7 км.;</li>
  <li>Ялпужель – 15 км.;</li>
  <li>Тараклийка – 15 км.</li>
</ul>

<p>А также 32 пруда и крупные водоемы:</p>

  {% endblock %}








