{% extends "base_generic1.html" %}

{% block content %}
<br><br>
<div class="row justify-content-center">
    
  <br>
  <div class="col-sm-3">
  <figure>
    <img src="../static/images/predsedateli.jpg" alt="picture" >
  </figure>
</div>
<div class="col-sm-3">
    <div class="pred">
  <h1>Иван Андреевич Пасларь </h1><br>
  <b>Дата рождения:</b> 21 июля 1959 г.<br><br>
  <b>Рабочий телефон:</b> +373 (294) 24095<br><br>
  <b>Электронный адрес:</b><br>
  <br>presedintetaraclia@inbox.ru<br><br>
  <a class="btn btn-dark btn-md focus " href="" role="button">Напиши Председателю &#128386;</a>
</div>
</div>
</div>

  <div class="col-sm-12 p-1 d-sm-inline-flex justify-content-center">
    <div class="row">
      <div class="cn1"><label for="menu" class="btn btn-success btn-lg focus">ПРИВЕТСТВИЕ ПРЕДСЕДАТЕЛЯ </label></div>
      
      <div class="cn2"><label for="basket" class="btn btn-success btn-lg focus">БИОГРАФИЯ ПРЕДСЕДАТЕЛЯ</label></div>
    </div></div>
    
    <input type="radio" name="radio" id="menu" checked>
    <input type="radio" name="radio" id="basket">
     
    <div class="menu">
      <div class="col-sm-12 p-1 d-sm-inline-flex justify-content-center">
       <p> <b>ДОРОГИЕ ДРУЗЬЯ!</b><br><br>
      От имени руководства Тараклийского района и от себя лично рад представить Тараклийский район – район со славной историей, богатым культурным наследием, энергичными людьми и динамично развивающейся экономикой.

      <br><br>Тараклийский район входит в состав Республики Молдова. Один из лучших частей Республики Молдова, потому что здесь живут этнические болгары, здесь сохранен уникальный болгарский язык и болгарский дух.

      <br><br>На этом сайте вы узнаете об истории района Тараклия, уникальной культуре болгар, живущих здесь более 250 лет. Вы познакомитесь с деятельностью Тараклийского районного совета, узнаете о высоком инвестиционном потенциале района и развивающейся туристической привлекательности.

      <br><br>Администрация Тараклийского района в своей работе руководствуется несколькими принципами:<br>

      1. Сохранение и развитие района как центра болгар в Молдове. Сохранение и развитие болгарского языка, культуры и истории в Молдове.<br>
      2. Воспитание молодежи, развитие образовательных учреждений, духовно-нравственное и спортивное развитие молодежи Тараклийского района.<br>
      3. Проведение грамотной инвестиционной политики, направленной на создание и поддержание благоприятного делового климата, привлечение средств в реальный сектор экономики. Мы строим наши отношения с инвесторами на принципах прозрачности и информационной открытости.<br>
      4. Повышение туристического потенциала района. Фракийский край – единственный болгарский край в Молдове, это визитная карточка страны, с которой должна познакомиться вся наша матушка Болгария.<br>

      <br> Район Тараклия является не только экономическим, культурным, образовательным центром молдавских болгар, но и «Сердцем болгар Молдовы».<br>

      <br><b>Добро пожаловать в район Тараклия!</b><br></p>
      </div>  
    </div>
    
    <div class="basket"> 
      <div class="col-sm-12 p-1 d-sm-inline-flex justify-content-center">
       <p><b>Должность:</b> Председатель района Тараклия<br><br>
       <b>Образование:</b> 1965-1976 Тараклийская средняя школа №2<br>
                            1976-1979 Светловский совхоз-техникум<br>
                            1984-1989 Одесский политехнический институт<br><br>
       <b>Карьера:</b>      1981-1986 Инженер по транспорту объединения механизации Тараклийского района<br>
                            1986-1992 Начальник АТП Тараклийской сельхозтехники<br>
                            1992-1999 Директор SRL Servis Libera<br>
                            1999-2005 Генеральный директор SC SRL Agrogled<br>
                            2005-2019 Генеральный директор SRL Servis Libera<br>
                            В 2019 году избран председателем района Тараклия.<br>
                            <b>Союз Ветеранов Войны в Афганистане Республики Молдова</b><br><br>
        <b>Семейное положение:</b> Женат, двое детей<br><br>
        <b>Языки:</b> Русский, Болгарский<br></p>
      </div> 
    </div>
{% endblock %}