{% extends "base_generic1.html" %}

{% block content %}
<br>
<div class="zagolovok"><h1>Примэрии Района Тараклии</h1></div>
<br>
<div class="row">
<div class="col-sm-6">
<div class="card">
    <div class="container">
      <h4><b>к. Албота де Жос</b></h4>
      <h6>(с. Хаджикей, с. Хыртоп)</h6>
      <p><b>Примар:</b>
      <br>Татару Виталий Иванович
      <br><br><b>Контактная информация:</b>
      <br>(0294)93866 – приемная
      <br><b>E-mail:</b>
      <br>albotaprim@mail.ru
      <br><b>Адрес:</b>
      <br>MD- 7411, р-н Тараклия,
      <br>коммуна Албота де Жос,
      <br>ул. Юбилейная, 56</p>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="card">
    <div class="container">
      <h4><b>к. Албота де Сус</b></h4>
      <h6>(с. Рошица, с. Софиевка)</h6>
      <p><b>Примар:</b>
      <br>Татареску Александр Иванович
      <br><br><b>Контактная информация:</b>
      <br>(0294)57237-приемная
      <br><b>E-mail:</b>
      <br>primariaalbotadesus@mail.ru
      <br><b>Адрес:</b>
      <br>MD-7412, р-н Тараклия,
      <br>коммуна Албота де Сус,
      <br>ул. Юбилейная, 116</p>
    </div>
  </div>
</div>
</div>
</div>

<div class="row">
  <div class="col-sm-6">
  <div class="card">
      <div class="container">
        <h4><b>с. Алуату</b></h4>
        <h6></h6>
        <p><b>Примар:</b>
        <br>Бобич Анатолий Валентинович
        <br><br><b>Контактная информация:</b>
        <br>(0294)35036  – приемная
        <br><b>E-mail:</b>
        <br>primaria.aluatu@rambler.ru
        <br><b>Адрес:</b>
        <br>MD-7413, р-н Тараклийя,
        <br>с. Алуату,
        <br>ул. Еминеску, 99</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="container">
        <h4><b>с. Балабану</b></h4>
        <h6></h6>
        <p><b>Примар:</b>
        <br>Мунтяну Николай Павлович
        <br><br><b>Контактная информация:</b>
        <br>(0294)93031 - приемная
        <br><b>E-mail:</b>
        <br>biudjetbalabanu@mail.ru
        <br><b>Адрес:</b>
        <br>MD-7414, р-н Тараклия,
        <br>с. Балабану,
        <br>ул. Ленина, 42</p>
      </div>
    </div>
  </div>
  </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
    <div class="card">
        <div class="container">
          <h4><b>к. Будэй</b></h4>
          <h6>с. Дерменжи</h6>
          <p><b>Примар:</b>
          <br>Терзи Галина Степановна
          <br><br><b>Контактная информация:</b>
          <br>(0294)53238 – приемная
          <br><b>E-mail:</b>
          <br>budai-primar@mail.ru
          <br><b>Адрес:</b>
          <br>MD-7416, р-н Тараклия,
          <br>с. Будэй, 
          <br>Мира, 56</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="container">
          <h4><b>с. Валя-Пержей</b></h4>
          <p><b>Примар:</b>
          <br>Нереуца Иван Ефимович
          <br><br><b>Контактная информация:</b>
          <br>(0291)47238 - приемная
          <br><b>E-mail:</b>
          <br>primariavaleaperjei@mail.ru
          <br><b>Адрес:</b>
          <br>MD-7414, р-н Тараклия,
          <br>Валя-Пержей,
          <br>ул. Ленина, 190</p>
        </div>
      </div>
    </div>
    </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
      <div class="card">
          <div class="container">
            <h4><b>к. Виноградовка</b></h4>
            <h6>(с. Кириловка, с. Чумай, с. Мирное)</h6>
            <p><b>Примар:</b>
            <br>Цуркан Татьяна Дмитриевна
            <br><br><b>Контактная информация:</b>
            <br>(0294)92261 – приемная
            <br><b>E-mail:</b>
            <br>primvinogradovca@mail.ru
            <br><b>Адрес:</b>
            <br>MD-7426, р-н Тараклия,
            <br>коммуна Виноградовка,
            <br>ул. Комсомольская, 5</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="container">
            <h4><b>с. Кайраклия</b></h4>
            <p><b>Примар:</b>
            <br>Каракаш Николай Николаевич
            <br><br><b>Контактная информация:</b>
            <br>(0294)66238 - приемная
            <br><b>E-mail:</b>
            <br>primcairac@mail.ru
            <br><b>Адрес:</b>
            <br>MD- 7417, р-н Тараклия,
            <br>с. Кайраклия,
            <br>ул. Ленина, 61</p>
          </div>
        </div>
      </div>
      </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
        <div class="card">
            <div class="container">
              <h4><b>с. Кортен</b></h4>
              <p><b>Примар:</b>
              <br>Караджов Дмитрий Захарович
              <br><br><b>Контактная информация:</b>
              <br>(0291)72238 – приемная
              <br><b>E-mail:</b>
              <br>primariacorten@mail.ru
              <br><b>Адрес:</b>
              <br>MD-7421, р-н Тараклия,
              <br>с. Кортен,
              <br>ул. Кирова, 8</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="container">
              <h4><b>с. Мусаиту</b></h4>
              <p><b>Примар:</b>
              <br>Ташниченко Раиса Ивановна
              <br><br><b>Контактная информация:</b>
              <br>(0294)52236 - приемная
              <br><b>E-mail:</b>
              <br>musaitu1@mail.ru
              <br><b>Адрес:</b>
              <br>MD-7424, р-н Тараклия,
              <br>с. Мусаиту,
              <br>ул. Первомайская, 136</p>
            </div>
          </div>
        </div>
        </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
          <div class="card">
              <div class="container">
                <h4><b>с. Новосёловка</b></h4>
                <p><b>Примар:</b>
                <br>Покурар Екатерина Васильевна
                <br><br><b>Контактная информация:</b>
                <br>(0294)34302 – приемная
                <br><b>E-mail:</b>
                <br>primarianovosiolovca@mail.ru
                <br><b>Адрес:</b>
                <br>MD-7425, р-н Тараклия,
                <br>с. Новоселовка,
                <br>ул. Ленина, 25</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="container">
                <h4><b>к. Салчия</b></h4>
                <h6>(с. Ореховка)</h6>
                <p><b>Примар:</b>
                <br>Кирнев Владимир Яковлевич
                <br><br><b>Контактная информация:</b>
                <br>(0291)58277 - приемная/факс
                <br><b>E-mail:</b>
                <br>nedioglo.lena@yandex.ru
                <br><b>Адрес:</b>
                <br>MD-7426, р-н Тараклийя,
                <br>комунна Салчия,
                <br>ул. Юбилейная, 42</p>
              </div>
            </div>
          </div>
          </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
            <div class="card">
                <div class="container">
                  <h4><b>г. Тараклия</b></h4>
                  <h6></h6>
                  <p><b>Примар:</b>
                  <br>Лупов Вячеслав Николаевич
                  <br><b>Зам. примара:</b>
                  <br>Кемеченжи Марта Николаевна
                  <br>Рэйляну Виорика Федоровна
                  <br>Бошнягэ Алексей Николаевич
                  <br><br><b>Контактная информация:</b>
                  <br>тел. (0294) 23155
                  <br>факс: (0294) 25-7-74
                  <br><b>E-mail:</b>
                  <br><b>prim-tar@mail.ru</b>
                  <br><b>Адрес:</b>
                  <br><b>МD-7401</b> г. Тараклия,
                  <br>ул. Ленина, 128
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="container">
                  <h4><b>г. Твардица</b></h4>
                  <h6></h6>
                  <p><b>Примар:</b>
                  <br>Попов Георгий Владимирович
                  <br><b>Зам. примара:</b>
                  <br>Автутов Александр Иванович
                  <br><br><b>Контактная информация:</b>
                  <br>тел. (0291)62238
                  <br>факс: (0291)62238
                  <br><b>E-mail:</b>
                  <br>primaria.tvarditsa1866@gmail.com
                  <br><b>Адрес:</b>
                  <br>MD-7422, р-н Тараклия,
                  <br>г.Твардица,
                  <br>ул. Димитрова, 4</p><br>
                </div>
              </div>
            </div>
            </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
              <div class="card">
                  <div class="container">
                    <h4><b>к. Чалык</b></h4>
                    <h6>(с. Кортенул Ноу,  с. Самурза)</h6>
                    <p><b>Примар:</b>
                    <br>Ангельчев Илья Николаевич
                    <br><br><b>Контактная информация:</b>
                    <br>тел. (0291)62238
                    <br>факс: (0291)62238
                    <br><b>E-mail:</b>
                    <br>primaria.cealic@gmail.com
                    <br><b>Адрес:</b>
                    <br>MD-7419, р-н Тараклия,
                    <br>комунна Чалык,
                    <br>ул. Болгарская, 7</p>
                  </div>
                </div>
              </div></div>
            
{% endblock %}