{% extends "base_generic.html" %}
{% block content %}
<h1><b>Руководство</b></h1>

<div class="row">
    <div class="col-sm-4">
        <div class="container"><br>
            <img src="../static/images/paslari.jpg" alt="picture" align="center" width="90%"><br><br>
            <h3>Пасларь <br>Иван <br>Андреевич</h3>
            <hr>
            <b>Председатель района</b><br><br>
            Рабочий телефон:<br>
            (0294)24095<br>
            Электронный адрес:<br>
            presedintetaraclia@inbox.ru<br>
            <b>Дни приёма:</b><br>
            Каждый I и III понедельник с 10:00 — 12:00
            <br>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="container"><br>
            <img src="../static/images/dermenji.jpg" alt="picture" align="center" width="90%"><br><br>
            <h3>Дерменжи <br>Лазарь Константинович</h3>
            <hr>
            <b>Зам. Председателя района</b><br><br>
            Рабочий телефон:<br>
            (0294)24750<br>
            Электронный адрес:<br>
            lazar.dermenzhi@mail.ru<br>
            <b>Дни приёма:</b><br>
            Каждый III и IV понедельник с 10:00 — 12:00
            <br>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="container"><br>
            <img src="../../static/images/neiculova.png" alt="picture" align="center" width="90%"><br><br>
            <h3>Нейкулова <br>Наталья <br>Ивановна</h3>
            <hr>
            <b>Секретарь районного совета</b><br><br>
            Рабочий телефон:<br>
            (0294)23461<br>
            Электронный адрес:<br>
            neiculovanatalia@mail.ru<br>
            <br>
        </div>
    </div>
</div>
{% endblock %} 