{% extends "base_generic1.html" %}

{% block content %}
<br><br>
<div class="row justify-content-center"> 
  <br>
  <div class="col-sm-2">
  <figure>
    <img src="../../static/images/secretatri.jpeg" alt="picture" >
  </figure>
</div>
<div class="col-sm-3">
    <div class="pred">
  <h2>Нейкулова Наталия Ивановна </h2><br>               
  <b>Дата рождения:</b> 16 октября 1973 г.<br><br>
  <b>Рабочий телефон:</b> +373 0294) 23461<br><br>
  <b>Электронный адрес:</b><br>
  <br>E-mail: neiculovanatalia@mail.ru<br><br>
</div>
</div>
</div>
<div class="linia">
</div><br><br>

<div class="secr">
    <p>БИОГРАФИЯ СЕКРЕТАРЯ</p>
</div>

<div class="basket"> 
    <div class="col-sm-12 p-1 d-sm-inline-flex justify-content-center">
        
     <p><b>Должность:</b> Председатель района Тараклия<br><br>
     <b>Образование:</b> 1965-1976 Тараклийская средняя школа №2<br>
                          1976-1979 Светловский совхоз-техникум<br>
                          1984-1989 Одесский политехнический институт<br><br>
     <b>Карьера:</b>      1981-1986 Инженер по транспорту объединения механизации Тараклийского района<br>
                          1986-1992 Начальник АТП Тараклийской сельхозтехники<br>
                          1992-1999 Директор SRL Servis Libera<br>
                          1999-2005 Генеральный директор SC SRL Agrogled<br>
                          2005-2019 Генеральный директор SRL Servis Libera<br>
                          В 2019 году избран председателем района Тараклия.<br>
                          <b>Союз Ветеранов Войны в Афганистане Республики Молдова</b><br><br>
      <b>Семейное положение:</b> Женат, двое детей<br><br>
      <b>Языки:</b> Русский, Болгарский<br></p>
    </div> 
  </div>




{% endblock %} 