{% extends "base_generic1.html" %}

{% block content %}
<br><br>
<div class="row justify-content-center"> 
  <br>
  <div class="col-sm-2">
  <figure>
    <img src="../../static/images/secretatri.jpeg" alt="picture" >
  </figure>
</div>
<div class="col-sm-3">
    <div class="pred">
  <h2>Нейкулова Наталия Ивановна </h2><br>               
  <b>Дата рождения:</b> 16 октября 1973 г.<br><br>
  <b>Рабочий телефон:</b> +373 0294) 23461<br><br>
  <b>Электронный адрес:</b><br>
  <br>E-mail: neiculovanatalia@mail.ru<br><br>
</div>
</div>
</div>

 <div class="linia">
</div>
<br><br>


{% endblock %} 