{% extends "base_generic1.html" %}

{% block content %}
<br><br>
<div class="row justify-content-center"> 
  <br>
  <div class="col-sm-2">
  <figure>
    <img src="../../static/images/secretatri.jpeg" alt="picture" >
  </figure>
</div>
<div class="col-sm-3">
    <div class="pred">
  <h2>Нейкулова Наталия Ивановна </h2><br>               
  <b>Дата рождения:</b> 16 октября 1973 г.<br><br>
  <b>Рабочий телефон:</b> +373 0294) 23461<br><br>
  <b>Электронный адрес:</b><br>
  <br>E-mail: neiculovanatalia@mail.ru<br><br>
</div>
</div>
</div>

<div class="secr">
    <p>БИОГРАФИЯ СЕКРЕТАРЯ</p>
</div>

<div class="col-sm-12 p-1 d-sm-inline-flex justify-content-center">
  <p><b>Должность:</b> Секретарь районного совета <br><br>
     <b>Образование:<br></b>1990 год – окончила среднюю школу №1 г.Тараклия<br>
                        1990-1993- Кооперативный колледж г.Кишинев<br>
                        1996-2001 – Кооперативно-коммерческий Университет Молдовы, г. Кишинев, экономическое право<br>
                        2018-2020 –  Румынский Университет  г.Галац  «Dunărea de Jos», мультилингвизм<br><br>
     <b>Карьера:</b><br>1993-1995- Специалист в системе потребительской кооперации в г.Тараклия<br>
                        1995-1998 – Секретарь в нотариальной конторе г.Тараклия<br>
                        1998-2013 – Государственная Регистрационная Палата г. Тараклия, г.Кахул.<br>
                        2014 - секретарь Районного совета Тараклия<br><br>
     <b>Языки:</b> Русский, Румынский, Болгарский<br><br></p>
    </div>
   
{% endblock %} 