{% extends "base_generic.html" %}

{% block content %}
<h1>Символика</h1>
<div class="simvol">
    <h2>Символы</h2>
   <p>
    Указом Президента Молдовы от 22 ноября 2021 года герб и флаг Тараклийского района были зарегистрированы в общем гербовнике Республики Молдова.
    Тараклийская символика появилась в государственном гербовнике впервые за последние 17 лет.
    Указ вступил в силу после его публикации Monitorul Oficial Nr. 286-289 от 26.11.2021. Таким образом 26 ноября стал днем флага и герба района Тараклия.
    Символика имеет важное значение. Она символизирует силу, самобытность, единство и неделимость района Тараклия.
   </p>
</div>

<div class="simvol">
    <img src="../static/images/gerb1.jpg" alt="picture"  align="center">
    <h2>Герб Района Тараклия</h2>
    <p>
        Герб района Тараклия является новой адаптацией старого герба Тараклийского жудеца, который существовал в период с 1999 по 2003 год и представлял собой щит с шествующим в зеленом поле львом. Этот герб был утвержден национальной геральдической комиссией 14 декабря 2000 года. После территориальной реформы 2003 года, герб потерял свою актуальность, а Тараклийский район оставался без утверждённой символики до сих пор.
        Основной отличительно особенностью тогдашнего Тараклийского жудеца и сегодняшнего района Тараклия является его болгарская этнокультурная идентичность, которая отражена в основных цветах герба.
        Белый, зеленый и красный- это традиционные цвета болгарского народа.
        Шествующий лев - это символ болгарской автономии юга Бессарабии, утверждённый 1856 году Молдавским Принципатом. Он использовался на официальных зданиях того периода.
        Золотая стенозубчатая оконечность щита – это Троянов Вал, который проходит по юго-восточной границе района Тараклия. Трояновы Валы были внешней границей древней Римской Империи, а район Тараклия является приграничным районом Молдовы.
        В золотой стенозубчатой оконечности расположена червленая танга – Тарак, отражающая название района Тараклия.
        Районная корона увенчивает щит – она демонстрирует иерархическую позицию района в системе административно-территориального деления Республики Молдова.
    </p>
</div>

<div class="simvol1">
    <img src="../static/images/flag.jpg" alt="picture"  align="center">
    <h2>Флаг Района Тараклия</h2>
    <p>
        Флаг представляет собой прямоугольное зеленое полотнище со стенозубчатой оконечностью, горизонтально пересеченной желтым и красным, обремененное в зеленом поле шествующим в левую геральдическую сторону серебряным леопардовым львом.
    </p>
    
    </div>
    <h5>Ссылки для скачивания</h5>
    <div class="col-sm-12 p-1 d-sm-inline-flex justify-content-center">  
        <a class="btn btn-danger btn-lg focus" href="../../static/images/gerb1.jpg" download=""role="button">Герб Р-н Тараклия</a>
         <a class="btn btn-danger btn-lg focus" href="../../static/images/gerb1.jpg" download=""role="button">Флаг Р-н Тараклия</a></div>

{% endblock %}