{% extends "base_generic.html" %}

{% block content %}
<h1>Символика</h1>
<div class="simvol">
    <h2>Символы</h2>
   <p>
    Указом Президента Молдовы от 22 ноября 2021 года герб и флаг Тараклийского района были зарегистрированы в общем гербовнике Республики Молдова.
    Тараклийская символика появилась в государственном гербовнике впервые за последние 17 лет.
    Указ вступил в силу после его публикации Monitorul Oficial Nr. 286-289 от 26.11.2021. Таким образом 26 ноября стал днем флага и герба района Тараклия.
    Символика имеет важное значение. Она символизирует силу, самобытность, единство и неделимость района Тараклия.
   </p>
</div>
{% endblock %}