{% extends "base_generic.html" %}

{% block content %}
<h1><b>Советники района Тараклия</b></h1>

<div class="card">
    <div class="container">
        <h1>ПАРТИЯ <font color="#CE0000">СОЦИАЛИСТОВ</font></h1>
    </div>
</div>

<div class="row">
<div class="col-sm-4">
    <div class="card">
        <div class="container"><br>
            <img src="../static/images/PSRM.png" alt="picture" align="center" width="60%"><br><br>
            <b>Мунтян Галина Дмитриевна</b><br>
            E-mail:<br>
            muntyangalina@mail.ru<br><br>
        </div>
    </div>
</div>

<div class="col-sm-4">
    <div class="card">
        <div class="container"><br>
            <img src="../static/images/PSRM.png" alt="picture" align="center" width="60%"><br><br>
            <b>Лисица Инна Михайловна</b><br>
            E-mail:<br>
            innalisita@gmail.com<br><br>
        </div>
    </div>
</div>

<div class="col-sm-4">
    <div class="card">
        <div class="container"><br>
            <img src="../static/images/PSRM.png" alt="picture" align="center" width="60%"><br><br>
            <b>Пирняк Инга Ивановна</b><br>
            E-mail:<br>
            ingapirnak@qmail.com<br><br>
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <img src="../static/images/PSRM.png" alt="picture" align="center" width="60%"><br><br>
                <b>Берова Мария Антоновна</b><br>
                E-mail:<br>
                <br>tatarli.k@mail.ru<br><br>
            </div>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <img src="../static/images/PSRM.png" alt="picture" align="center" width="60%"><br><br>
                <b>Камбур Вячеслав Александрович</b><br>
                E-mail:<br>
                kambur_55@mail.ru<br><br>
            </div>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <img src="../static/images/PSRM.png" alt="picture" align="center" width="60%"><br><br>
                <b>Морарь Василий Ильич</b><br>
                E-mail:<br>
                <br>-----<br><br>
            </div>
        </div>
    </div>
    </div>

    <div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <img src="../static/images/PSRM.png" alt="picture" align="center" width="60%"><br><br>
                <b>Градинар Мария Васильевна</b><br>
                E-mail:<br>
                <br>grad6666@mail.ru<br><br>
            </div>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <img src="../static/images/PSRM.png" alt="picture" align="center" width="60%"><br><br>
                <b>Татарлы Александр Кириллович</b><br>
                E-mail:<br>
                <br>alex-tatar@mail.ru<br><br>
            </div>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <img src="../static/images/PSRM.png" alt="picture" align="center" width="60%"><br><br>
                <b>Дериволков Василий Васильевич</b><br>
                E-mail:<br>
                <br>vderpchelkin@mail.ru<br><br>
            </div>
        </div>
    </div>
    </div>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <img src="../static/images/PSRM.png" alt="picture" align="center" width="60%"><br><br>
                <b>Чернев Виктор Георгиевич</b><br>
                E-mail:<br>
                <br>cernevviktor@rambler.ru<br><br>
            </div>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <img src="../static/images/PSRM.png" alt="picture" align="center" width="60%"><br><br>
                <b>Заврак Степан Николаевич</b><br>
                E-mail:<br>
                <br>sudtriticum@mail.ru<br><br>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <img src="../static/images/PSRM.png" alt="picture" align="center" width="60%"><br><br>
                <b>Кара Демьян Радионович</b><br>
                E-mail:<br>
                <br>agristan@mail.ru<br><br>
            </div>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="container"><br>
                    <img src="../static/images/PSRM.png" alt="picture" align="center" width="60%"><br><br>
                    <b>Георгиев Иван Иванович</b><br>
                    E-mail:<br>
                    <br>Ivan_georgiev58@mail.ru<br><br>
                </div>
            </div>
        </div>
    
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <img src="../static/images/PSRM.png" alt="picture" align="center" width="60%"><br><br>
                <b>Нереуца Георгий Ефимович</b><br>
                E-mail:<br>
                <br>zhora.nereutsa.68@mail.ru<br><br>
            </div>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <img src="../static/images/PSRM.png" alt="picture" align="center" width="60%"><br><br>
                <b>Чавдарь Елена Федоровна</b><br>
                E-mail:<br>
                <br>-----<br><br>
            </div>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="container"><br>
                    <img src="../static/images/PSRM.png" alt="picture" align="center" width="60%"><br><br>
                    <b>Виткова Валерия Викторовна</b><br>
                    E-mail:<br>
                    <br>vvvitkova@gmail.com<br><br>
                </div>
            </div>
        </div>
    
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <img src="../static/images/PSRM.png" alt="picture" align="center" width="60%"><br><br>
                <b>Кайряк Руслан Анатольевич</b><br>
                E-mail:<br>
                <br>casper1988.88@mail.ru<br><br>
            </div>
        </div>
    </div>
    </div>

    <div class="card">
        <div class="container">
            <h1><font color="red">ПАРТИЯ</font> <font color="green">«ШОР»</font></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="container"><br>
                    <img src="../static/images/Sor.jpg" alt="picture" align="center" width="100%"><br>
                    <b>Мостовой Николай Николаевич</b><br>
                    E-mail:<br>
                    <br>nikmost72@gmail.com<br><br>
                </div>
            </div>
        </div>
    
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <img src="../static/images/Sor.jpg" alt="picture" align="center" width="100%"><br>
                <b>Ангельчев Федор Васильевич</b><br>
                E-mail:<br>
                <br>-----<br><br>
            </div>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <img src="../static/images/Sor.jpg" alt="picture" align="center" width="100%"><br>
                <b>Зибили Елена Ильинична</b><br><br>
                E-mail:<br>
                <br>zibili83@mail.ru<br><br>
            </div>
        </div>
    </div>
    </div>

    <div class="card">
        <div class="container">
            <h1>ПАРТИЯ <font color="#CE0000">КОMМУНИСТОВ</font></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="container"><br>
                    <img src="../static/images/pcrm_logo.png" alt="picture" align="center" width="60%"><br><br>
                    <b>Питрапов Владимир Иванович</b><br>
                    E-mail:<br>
                    <br>bulgariwinery@mail.ru<br><br>
                </div>
            </div>
        </div>
    
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <img src="../static/images/pcrm_logo.png" alt="picture" align="center" width="60%"><br><br>
                <b>Кунев Вячеслав Валентинович</b><br>
                E-mail:<br>
                <br>kunev@deeplace.md<br><br>
            </div>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <img src="../static/images/pcrm_logo.png" alt="picture" align="center" width="60%"><br><br>
                <b>Сабий Федор Степанович</b><br><br>
                E-mail:<br>
                <br>sabii_bo@mail.ru<br><br>
            </div>
        </div>
    </div>
    </div>

    <div class="card">
        <div class="container">
            <h1>ИЗБИРАТЕЛЬНЫЙ БЛОК ACUM</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="container"><br>
                    <img src="../static/images/acum.png" alt="picture" align="center" width="60%"><br><br>
                    <b>Димитриева Федора Ивановна</b><br>
                    E-mail:<br>
                    <br>osctaraclia@ssc.gov.md<br><br>
                </div>
            </div>
        </div>
    
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <img src="../static/images/acum.png" alt="picture" align="center" width="60%"><br><br>
                <b>Цолов Степан Васильевич</b><br>
                E-mail:<br><br>
                <br>stepantolov1952@gmail.com<br><br>
            </div>
        </div>
    </div>
    </div>

    <div class="card">
        <div class="container">
            <h1><font color="000066">ДЕМОКРАТИЧЕСКАЯ ПАРТИЯ МОЛДОВЫ</font></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="container"><br>
                    <img src="../static/images/PDM.jpg" alt="picture" align="center" width="80%"><br><br>
                    <b>Кара Сергей</b><br>
                    E-mail:<br>
                    <br>-----<br><br><br>
                </div>
            </div>
        </div>
    
    <div class="col-sm-4">
        <div class="card">
            <div class="container"><br>
                <img src="../static/images/PDM.jpg" alt="picture" align="center" width="80%"><br><br>
                <b>Душков Дмитрий Петрович</b><br>
                E-mail:<br><br>
                <br>dmitriduscov@mail.ru<br><br>
            </div>
        </div>
    </div>
    </div>
    
{% endblock %} 